@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
:root {
    --color-darkblue: #022b3a;
    --color-green: #1f7a8c;
    --color-lightblue: #bfdbf7;
    --color-lightgrey: #e1e5f2;
    --color-white: #FFFFFF;
    --color-black: #000000;
  
    --font-title: "Poppins", sans-serif;
    --font-text: 'Lato', sans-serif;
  }

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    font-size: 18px;
    font-family: var(--font-text);
    display: flex;
    flex-direction: column;
    height: 100vh; 
    margin: 0;
}

h1, h2, h3 {
    font-family: var(--font-title);
    color: #022b3a;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    color: var(--color-white);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.btn-custom {
    background-color: var(--color-green);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-custom:hover {
    background-color:var(--color-lightblue);
    color: var(--color-black);
}
